.app-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #ffffff;
}
.card-container {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 4px 16px 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
  padding-bottom: 40px;
  border-radius: 10px;
  font-family: 'roboto';
}
.website-logo-img {
  width: 80%;
  margin-bottom: 30px;
  padding: 30px;
  align-self: center;
}
.form-container {
  display: flex;
  flex-direction: column;
}

.username-cont {
  display: flex;
  flex-direction: column;
}
.username-text {
  color: #1e293b;
  font-size: 15px;
  padding-bottom: 5px;
  font-weight: 500;
}
.user-text {
  background-color: transparent;
  outline: none;
  border: 1px solid #2c364c;
  padding: 5px;
  margin-bottom: 20px;
}
.show-password-cont {
  display: flex;
  align-items: center;
}
.login-btn {
  background-color: #4f46e5;
  color: #ffffff;
  border-width: 0px;
  border-radius: 5px;
  padding: 10px;
  align-self: stretch;
}
.error-msg {
  color: red;
}
